<h1><%= @employee.name %></h1>
<p><%= "Department: #{@employee.department.name}" %></p>
<section id="employee-tickets">
<h2> Tickets </h2>
<ul>
    <% @employee.tickets_by_age.each do |ticket| %>
      <li><%= "Subject: #{ticket.subject}" %>
      <%= "Age: #{ticket.age}" %></li>
    <% end %>
</ul>
</section>
<br>
<section id="oldest-ticket">
  <%= "Oldest Ticket: #{ @employee.oldest_ticket }" %>
</section>
<br>
<section id="add-new-ticket">
<h2>Add New Ticket</h2>
<%= form_with model: @ticket, url: "/employees/#{@employee.id}", method: :post, local: true do |f| %>
<%= f.label :ticket_id, "Ticket ID:" %>
<%= f.text_field :ticket_id %>
<%= f.submit "Submit" %>
<% end %>
</section>
